<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeoImageryProxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GeoImageryProxy.Properties.Settings>
            <setting name="DemFolder" serializeAs="String">
                <value>C:\Software\OpenRail\TSRE\hgst</value>
            </setting>
            <setting name="PortNumber" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:98.0) Gecko/20100101 Firefox/98.0</value>
            </setting>
            <setting name="ForceUserAgent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageryFolder" serializeAs="String">
                <value>C:\Temp\GeoImageryProxy</value>
            </setting>
        </GeoImageryProxy.Properties.Settings>
    </userSettings>
</configuration>